.center-text {
    text-align: center;
}

.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 2em;
    border-radius: 1em;
}

p{
    font-weight: bold;
}

.post-text {
    font-size: medium;
    font-weight: normal;
    margin-top: 1em;
}

.btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none!important; 
}

p1 {
    font-size: larger;
    font-weight: bold;
}