.center-text {
    text-align: center;
}

.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 2em;
    border-radius: 1em;
}

p{
    font-weight: bold;
    font-size: larger;
}

.post-text {
    font-size: medium;
    font-weight: normal;
    margin-top: 1em;
}

.btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none!important; 
}

.col-10.p-5.mb-4.rounded {
    background-color: #e3e6e9;
}

.addEntry {
    position: fixed;
    margin-top: 10px;
    margin-left: 0%;
    width: 700px
}